<div class="wrapper-room">
    <div class="contenedor-avatar">
        <app-avatar [avatar]="avatar" *ngFor="let avatar of listUserAvatar"></app-avatar>
    </div>
    <div class="chat-contenedor" *ngIf="chat">
        <div class="chat-cont" >
            <div class="mensaje" *ngFor="let msj of listMensaje">
                <p>{{ msj.nombre }}:</p>
                <p>{{ msj.mensaje }}</p>
            </div>
        </div>
        <form  class="caja-chat" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
            <input type="text" name="chatCaja" [formControl]="myForm.controls['chatCaja']">
            <button type="submit" class="btn btn-primary">ENVIAR</button>
        </form>
    </div>
    <div class="contenedor-video" *ngIf="!chat">
        <app-video-player  [stream]="user" *ngFor="let user of listUser"></app-video-player>
    </div>
</div>
<app-menu-bottom (setChat)="SetChat($event)" [stream]="listUser[0]"></app-menu-bottom>
