<nav class="nav">
  <img src="../../assets/img/conocimiento.png" alt="">
  <div>
    <a class="nav-link active" aria-current="page" (click)="ActivarVista(0)">Mis clases</a>
    <a *ngIf="datos.idRol === 2" class="nav-link active" aria-current="page"  (click)="ActivarVista(1)">Crear Clase</a>
    <a class="nav-link active" aria-current="page"  (click)="ActivarVista(2)">Unirse a Clase</a>
    <a class="nav-link"  (click)="ActivarVista(3)">Avatar</a>
    <a class="nav-link"  (click)="ActivarVista(4)">{{ datos.name }}</a>
    <button type="button" class="btn btn-primary" (click)="LogOut()">Salir</button>
  </div>
</nav>

<div class="contenedorClases" *ngIf="vistas[0]">
  <app-carta-clase [sala]="sala" *ngFor="let sala of salas" ></app-carta-clase>
</div>

<app-crear-room *ngIf="vistas[1]"></app-crear-room>

<app-unirse-room *ngIf="vistas[2]"></app-unirse-room>

<app-personalizar-avatar *ngIf="vistas[3]"></app-personalizar-avatar>

<app-cuenta *ngIf="vistas[4]"></app-cuenta>